$text_color: #b19253;
$header_icon_color: #998746;
$header_background_color: #222930;
$footer_background_color: #000000;
$footer_text_color: #8d7272;
$footer_author_color: #b19253;
$footer_author_color_hover: #ef8008;
$dark-opacity-75: rgba(0, 0, 0, 0.75);

// Civilizations colors
$aztecs_color_hover: rgba(56, 145, 76, 0.45);
$britons_color_hover: rgba(138, 5, 0, 0.65);
$byzantines_color_hover: rgba(187, 48, 49, 0.65);
$celts_color_hover: rgba(39, 80, 27, 0.65);
$chinese_color_hover: rgba(244, 205, 9, 0.65);
$franks_color_hover: rgba(8, 48, 103, 0.65);
$goths_color_hover: rgba(4, 87, 123, 0.45);
$huns_color_hover: rgba(128, 15, 15, 0.65);
$japanese_color_hover: rgba(187, 187, 187, 0.45);
$koreans_color_hover: rgba(229, 36, 74, 0.65);
$mayans_color_hover: rgba(49, 123, 187, 0.45);
$mongols_color_hover: rgba(48, 118, 174, 0.65);
$persians_color_hover: rgba(115, 54, 93, 0.65);
$saracens_color_hover: rgba(55, 55, 55, 0.65);
$spanish_color_hover: rgba(255, 254, 255, 0.45);
$teutons_color_hover: rgba(234, 170, 75, 0.45);
$turks_color_hover: rgba(18, 66, 11, 0.65);
$vikings_color_hover: rgba(253, 9, 1, 0.45);
$berbers_color_hover: rgba(101, 73, 62, 0.65);
$burmese_color_hover: rgba(209, 128, 48, 0.45);
$ethiopians_color_hover: rgba(121, 37, 20, 0.65);
$incas_color_hover: rgba(206, 152, 4, 0.65);
$indians_color_hover: rgba(65, 121, 41, 0.45);
$italians_color_hover: rgba(255, 239, 9, 0.65);
$khmer_color_hover: rgba(250, 204, 53, 0.45);
$magyars_color_hover: rgba(200, 200, 200, 0.45);
$malians_color_hover: rgba(160, 125, 0, 0.65);
$portuguese_color_hover: rgba(140, 1, 3, 0.65);
$slavs_color_hover: rgba(56, 126, 182, 0.45);
$vietnamese_color_hover: rgba(41, 187, 245, 0.65);