#select-civilization {
  padding: 2em 3.5em;
  box-sizing: border-box;

  .title {
    font-size: 3em;
    width: 65%;
    max-width: 800px;
  }
  
  .civilizations {
    display: grid;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(4, 1fr);

    .civilization {
      padding: 1em;
      border-radius: 7px;
      transition: all linear 1s;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 1px 48px -5px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 0px 1px 48px -5px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 0px 1px 48px -5px rgba(0,0,0,0.75) inset;

      &:hover {
        cursor: pointer;
        transform: translateY(-1.15em);
      }

      &-name {
        margin-top: 1em;
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 10px;
        border-bottom: 1px dashed $text_color;
      }

      &-history {
        margin-top: 6px;
        font-size: .75em;
        line-height: 15px;
        text-align: center;
        word-break: break-all;
      }

      &.aztecs {
        background-color: $aztecs_color_hover;
      }

      &.britons {
        background-color: $britons_color_hover;
      }

      &.byzantines {
        background-color: $byzantines_color_hover;
      }

      &.celts {
        background-color: $celts_color_hover;
      }

      &.chinese {
        color: #000000;
        background-color: $chinese_color_hover;
      }

      &.franks {
        background-color: $franks_color_hover;
      }

      &.goths {
        background-color: $goths_color_hover;
      }

      &.huns {
        background-color: $huns_color_hover;
      }

      &.japanese {
        color: #f2d79e;
        background-color: $japanese_color_hover;
      }

      &.koreans {
        color: #f2d79e;
        background-color: $koreans_color_hover;
      }

      &.mayans {
        background-color: $mayans_color_hover;
      }

      &.mongols {
        background-color: $mongols_color_hover;
      }

      &.persians {
        background-color: $persians_color_hover;
      }

      &.saracens {
        background-color: $saracens_color_hover;
      }

      &.spanish {
        color: #000000;
        background-color: $spanish_color_hover;
      }

      &.teutons {
        color: #f2d79e;
        background-color: $teutons_color_hover;
      }

      &.turks {
        background-color: $turks_color_hover;
      }

      &.vikings {
        background-color: $vikings_color_hover;
      }

      &.berbers {
        background-color: $berbers_color_hover;
      }

      &.burmese {
        background-color: $burmese_color_hover;
      }

      &.ethiopians {
        background-color: $ethiopians_color_hover;
      }

      &.incas {
        color: #ecdbdb;
        background-color: $incas_color_hover;
      }

      &.indians {
        background-color: $indians_color_hover;
      }

      &.italians {
        color: #000000;
        background-color: $italians_color_hover;
      }

      &.khmer {
        color: #000000;
        background-color: $khmer_color_hover;
      }

      &.magyars {
        color: #000000;
        background-color: $magyars_color_hover;
      }

      &.malians {
        color: #000000;
        background-color: $malians_color_hover;
      }

      &.portuguese {
        background-color: $portuguese_color_hover;
      }

      &.slavs {
        background-color: $slavs_color_hover;
      }

      &.vietnamese {
        color: #d7d7d7;
        background-color: $vietnamese_color_hover;
      }

      &.incas .civilization-name {
        border-bottom-color: #ecdbdb;
      }

      &.vietnamese .civilization-name {
        border-bottom-color: #d7d7d7;
      }

      &.japanese .civilization-name, &.koreans .civilization-name {
        border-bottom-color: #f2d79e;
      }

      &.chinese .civilization-name, &.spanish .civilization-name,
      &.italians .civilization-name, &.khmer .civilization-name,
      &.magyars .civilization-name, &.malians .civilization-name {
        border-bottom-color:#000000;
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  #select-civilization {
    .civilizations {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media screen and (min-width: 1560px) {
  #select-civilization {
    .civilizations {
      margin-left: auto;
      margin-right: auto;
      max-width: 2000px;
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  #select-civilization {
    .civilizations {
      grid-gap: 20px 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  #select-civilization {
    .civilizations {
      grid-gap: 20px 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 600px) {
  #select-civilization {
    padding: 1.5em;

    .title {
      font-size: 2.5em;
    }
  }
}

@media screen and (max-width: 450px) {
  #select-civilization {
    .civilizations {
      grid-template-columns: 1fr;

      .civilization {
        margin: auto;
        max-width: 200px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #select-civilization {
    .title {
      font-size: 10vw;
      width: 100%;
      max-width: none;
      margin-left: 1vw;
    }
  }
}